doctype html
html(lang="en")
  include parts/head.pug
  body#body-id
    //- HEADER
    include parts/header.pug
    section#showcase_title.showcase.contact-us
      .shocase-main-page.showcase-container
        .basket Basket

    //- FOOTER
    include parts/footer.pug

