doctype html
html(lang="en")
  include parts/head.pug
  body#body-id
    //- HEADER
    include parts/header.pug

    section#showcase_title.showcase
      .shocase-main-page.showcase-container.showcase-inner
        h1#showme ANONYMOUS
        
    //- FOOTER
    include parts/footer.pug
