script(src='js/TweenMax.min.js')
script(src='js/jquery-3.5.1.slim.min.js')
//- script(src='js/bootstrap.bundle.min.js')
script(src='js/jquery.fancybox.min.js')
//- script(src='js/img-previewer.min.js')

//- script(src='js/grained.min.js')
script(src='js/script.js')
